[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=/etc/kubernetes/kube-apiserver.env
ExecStart=/usr/local/bin/kube-apiserver $ADVERTISE_ADDRESS $ALLOW_PRIVILEGED $APISERVER_COUNT $AUDIT_LOG_MAXAGE $AUDIT_LOG_MAXBACKUP $AUDIT_LOG_MAXSIZE $AUDIT_LOG_PATH $AUTHORIZATION_MODE $BIND_ADDRESS $CLIENT_CA_FILE $ENABLE_ADMISSION_PLUGINS $ETCD_CAFILE $ETCD_CERTFILE $ETCD_KEYFILE $ETCD_SERVERS $EVENT_TTL $ENCRYPTION_PROVIDER_CONFIG $KUBELET_CERTIFICATE_AUTHORITY $KUBELET_CLIENT_CERTIFICATE $KUBELET_CLIENT_KEY $KUBELET_HTTPS $RUNTIME_CONFIG $SERVICE_ACCOUNT_KEY_FILE $SERVICE_ACCOUNT_SIGNING_KEY_FILE $SERVICE_ACCOUNT_ISSUER $SERVICE_CLUSTER_IP_RANGE $SERVICE_NODE_PORT_RANGE $TLS_CERT_FILE $TLS_PRIVATE_KEY_FILE $V
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target